<!DOCTYPE html>
<html>

<head>

<title>Smart Classroom Mood Detector</title>

<script src="https://unpkg.com/face-api.js"></script>

<style>

body{
background:black;
text-align:center;
color:aqua;
margin:0;
padding:20px;
}

h1{
color:aqua;
}

video{
width:90%;
max-width:700px;
border:5px solid aqua;
border-radius:20px;
}

#mood{
font-size:35px;
margin-top:20px;
font-weight:bold;
}

</style>

</head>

<body>

<h1>
Smart Classroom Mood Detector
</h1>

<video
id="camera"
autoplay
playsinline
muted>
</video>

<h2 id="mood">
Opening Camera...
</h2>

<script>

const video =
document.getElementById("camera")

const mood =
document.getElementById("mood")

async function start(){

try{

const stream =
await navigator
.mediaDevices
.getUserMedia({

video:{
facingMode:"user"
}

})

video.srcObject=
stream

video.onloadedmetadata=
async()=>{

mood.innerHTML=
"Loading AI..."

await Promise.all([

faceapi.nets
.tinyFaceDetector
.loadFromUri(
"https://cdn.jsdelivr.net/npm/@vladmandic/face-api/model/"
),

faceapi.nets
.faceExpressionNet
.loadFromUri(
"https://cdn.jsdelivr.net/npm/@vladmandic/face-api/model/"
)

])

mood.innerHTML=
"AI Ready 🤖"

setInterval(
detectMood,
2000
)

}

}

catch(error){

mood.innerHTML=
"Allow Camera Permission ❌"

console.log(error)

}

}

async function detectMood(){

try{

const result=

await faceapi
.detectSingleFace(

video,

new faceapi
.TinyFaceDetectorOptions()

)

.withFaceExpressions()

if(result){

let emotion=

Object
.entries(
result.expressions
)
.sort(
(a,b)=>
b[1]-a[1]
)[0][0]

let emoji="😐"

if(emotion==="happy")
emoji="😊"

if(emotion==="sad")
emoji="😢"

if(emotion==="angry")
emoji="😠"

if(emotion==="surprised")
emoji="😲"

if(emotion==="fearful")
emoji="😨"

if(emotion==="disgusted")
emoji="🤢"

mood.innerHTML=
emoji+
" "+
emotion

}
else{

mood.innerHTML=
"No Face Detected"

}

}

catch{

mood.innerHTML=
"AI Error ❌"

}

}

start()

</script>

</body>

</html>