<!DOCTYPE html>
<html>

<head>

<title>Smart Mood Detector</title>

<style>

body{
background:black;
text-align:center;
}

h1{
color:aqua;
font-size:50px;
}

video{
width:90%;
border:5px solid aqua;
border-radius:20px;
}

#mood{
color:aqua;
font-size:35px;
margin-top:20px;
}

</style>

</head>

<body>

<h1>Smart Classroom Mood Detector</h1>

<video
id="camera"
autoplay
playsinline>
</video>

<p id="mood">
Starting...
</p>

<script>

const moods=[
"😊 Happy",
"😐 Neutral",
"😴 Sleepy",
"😢 Sad"
]

navigator
.mediaDevices
.getUserMedia({
video:true
})

.then(function(stream){

document
.getElementById("camera")
.srcObject=
stream

setInterval(function(){

let mood=
moods[
Math.floor(
Math.random()*moods.length
)
]

document
.getElementById(
"mood"
)
.innerHTML=
"Mood: "+mood

},3000)

})

.catch(function(){

document
.getElementById(
"mood"
)
.innerHTML=
"Camera Permission Denied"

})

</script>

</body>

</html>