<!DOCTYPE html>
<html>

<head>

<title>AI Mood Detector</title>

<style>

body{
background:black;
text-align:center;
color:aqua;
}

video{
width:90%;
border:5px solid aqua;
border-radius:20px;
}

#mood{
font-size:35px;
margin-top:20px;
}

</style>

<script defer src="https://cdn.jsdelivr.net/npm/face-api.js"></script>

</head>

<body>

<h1>
Smart Classroom Mood Detector
</h1>

<video
id="camera"
autoplay
playsinline>
</video>

<h2 id="mood">
Loading...
</h2>

<script>

const video =
document.getElementById("camera")

const mood =
document.getElementById("mood")

async function load(){

await faceapi.nets.tinyFaceDetector.loadFromUri(
"https://cdn.jsdelivr.net/npm/@vladmandic/face-api/model/"
)

await faceapi.nets.faceExpressionNet.loadFromUri(
"https://cdn.jsdelivr.net/npm/@vladmandic/face-api/model/"
)

const stream =
await navigator.mediaDevices.getUserMedia({
video:true
})

video.srcObject =
stream

mood.innerHTML =
"Show Face"

}

video.addEventListener(
"play",

()=>{

setInterval(
async()=>{

const data =
await faceapi
.detectSingleFace(
video,
new faceapi.TinyFaceDetectorOptions()
)
.withFaceExpressions()

if(data){

let top =

Object
.entries(
data.expressions
)

sort(
(a,b)=>
b[1]-a[1]
)[0]

mood.innerHTML =
"Mood: "
+
top[0]

}

else{

mood.innerHTML =
"No Face"

}

},

1500

)

}

)

load()

</script>

</body>

</html>